# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile

build/
client_build/
server_build/

r-type_client
r-type_server
r-type_server_tests
r-type_client_tests

vcpkg_installed

Testing

.vscode/

megalinter-reports/

bin

engine/**/main.cpp

engine/Assets